.container {
    width: 100%;
    height: 100%;
    background: rgba(244, 247, 251, 1);
    padding-bottom: 20px;
}

.card {
    width: 400px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 10px 10px;
    position: relative;
}

.main,
.copy-button {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.card::after {
    position: absolute;
    content: "";
    height: 40px;
    right: -20px;
    border-radius: 40px;
    z-index: 1;
    top: 70px;
    background-color: #F4F7FB;
    width: 40px;
}

.card::before {
    position: absolute;
    content: "";
    height: 40px;
    left: -20px;
    border-radius: 40px;
    z-index: 1;
    top: 70px;
    background-color: #F4F7FB;
    width: 40px;
}

.co-img img {
    width: 100px;
    height: 69px;
}

.vertical {
    border-left: 5px dotted black;
    height: 100px;
    position: absolute;
    left: 40%;
}

.contentMaGiamGia h1 {
    font-size: 35px;
    margin-left: -20px;
    color: #565656;
}

.contentMaGiamGia h1 span {
    font-size: 18px;
}

.contentMaGiamGia h2 {
    font-size: 18px;
    margin-left: -20px;
    color: #565656;
    text-transform: uppercase;
}

.contentMaGiamGia p {
    font-size: 16px;
    color: #696969;
    margin-left: -20px;
}

.contentMaGiamGia h3 {
    font-size: 12px;
    color: #696969;
    margin-left: -20px;
}

.copy-button {
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
}

.copy-button input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.copybtn {
    flex: 1 1 auto;
    padding: 8px 24px;
    text-align: center;
    text-transform: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #27CBC9 0%, #2436A0 51%, #27CBC9 100%);
    display: flex;
    border: none;
}

.copybtn:hover {
    background-position: right center;
}