@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

table {
    margin: auto;
}

.middle {
    width: 100%;
    text-align: center;
}

.middle h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

.middle input[type="radio"] {
    display: none;
}

.middle input[type="radio"]:checked+.box {
    background-image: linear-gradient(to right, #27CBC9 0%, #2436A0 100%);
    opacity: 0.7;
}

.middle input[type="radio"]:checked+.box span {
    color: white;
    transform: translateY(20px);
}

.middle .box {
    width: 200px;
    height: 100px;
    background-color: #F4F7FB;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid grey;
}

.middle .box:active {
    transform: translateY(20px);
}

.middle .box span {
    position: absolute;
    transform: translate(0, 10px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 20px;
    user-select: none;
    color: black;
}

.middle p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.middle p a {
    text-decoration: underline;
    font-weight: bold;
    color: #fff;
}

.middle p span:after {
    content: "\f0e7";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: yellow;
}

.note {
    margin: auto;
    padding: 10px;
    width: 95%;
    height: 72px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #F4F7FB;
    vertical-align: top;
    border: 1px solid #27CBC9;
    margin-left: 40px;
}

.price {
    text-align: right;
    font-style: italic;
    color: royalblue;
}

h3 {
    margin: 5px;
}

.btn {
    flex: 1 1 auto;
    padding: 8px 24px;
    text-align: center;
    text-transform: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #27CBC9 0%, #2436A0 51%, #27CBC9 100%);
    display: flex;
    border: none;
    float: right;
}

.btn:hover {
    background-position: right center;
}

.discount {
    margin: auto;
    display: inline;
}

.discount .magiamgia {
    width: 60%;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #27CBC9;
    background-color: #F4F7FB;
    display: inline;
}


.thanhtoan {
    background-color: #F4F7FB;

    border-radius: 10px;
    width: auto;
    text-align: center;
    border-right: 0;
    border-left: 0;
}

.thanhtoan :hover {
    background-color: darkgray;
}


.thanhtoan img {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}


.thanhtoan p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}


.cc-selector input {
    margin: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.bank {
    background-image: url(Images/Bank.png);
}

.momo {
    background-image: url(Images/MoMo_Logo.png);
}

.cash {
    background-image: url(Images/money.png);
}

.cc-selector input:active+.drinkcard-cc {
    opacity: .9;
}

.cc-selector input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.cc-selector input{
    margin: auto;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.bank{background-image:url(Images/Bank.png);}
.momo{background-image:url(Images/MoMo_Logo.png);}
.cash{background-image:url(Images/money.png);}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:60px;
    height: 60px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

