@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.MoDau {
    background: white;
    padding-left: 20px;
    padding-right: 20px;
}

.VeChungToi {
    background: white;
}

.BacSi {
    background: white;
    margin-bottom: 20px
}

marquee {
    background: linear-gradient(90deg, #27CBC9 0%, #0078BD 118.75%);
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    width: 100%;
}

.btnDatLich {
    flex: 1 1 auto;
    padding: 10px 24px;
    text-align: center;
    text-transform: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #27CBC9 0%, #2436A0 51%, #27CBC9 100%);
    display: flex;
    border: none;
    margin-top: 20px;
}

.btnDatLich:hover {
    background-position: right center;
}

.DichVu {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px 10px;
}

.Content1 {
    margin: 10px;
}

.cardDichVu {
    width: 280px;
    height: 260px;
    background: white;
    border: 1px solid rgba(204, 204, 204, 1);
}

.cardDichVu:hover {
    background-color: rgba(204, 204, 204, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

.imgKiemSoatPhienMuon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -20px;
}

.imgKiemSoatGiacNgu {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.imgNongGian {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -20px;
    margin-bottom: -10px;
}

.imgLGBT {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -20px;
}

.buttonTimHieuNgay {
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
}

.btnTimHieu {
    flex: 1 1 auto;
    padding: 10px 24px;
    text-align: center;
    text-transform: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #27CBC9 0%, #2436A0 51%, #27CBC9 100%);
    display: flex;
    border: none;
    margin: auto;
}

.btnTimHieu:hover {
    background-position: right center;
}

.LichHenSapToi {
    margin: 0px 10px;
}

.cardLichHen {
    border: 1px solid rgba(204, 204, 204, 1);
    width: 280px;
    height: 220px;
    background: rgba(244, 247, 251, 1);
}

.DichVuTuVan {
    padding-bottom: 20px;
    margin: 0px 10px;
}

.cardTuVan {
    width: 400px;
    height: 180px;
    background: white;
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 10px
}

.imgTuVan {
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buttonCall {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.btnCall {
    flex: 1 1 auto;
    padding: 10px 24px;
    text-align: center;
    text-transform: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #27CBC9 0%, #2436A0 51%, #27CBC9 100%);
    display: flex;
    border: none;
    margin: auto;
}

.btnCall:hover {
    background-position: right center;
}