@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.btnXemThem {
    color: #0078BD;
    padding: 0px 20px;
    text-align: right;
}

.btnXemThem:hover {
    color: red;
}

.LichHenSapToi {
    margin-left: 80px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.cardLichHen {
    width: 100%;
    height: 240px;
    background: rgba(244, 247, 251, 1);
}

.imgBenhNhan {
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.Content1 {
    margin-top: 10px;
    text-align: center;
}

.GhiChu {
    margin-left: 80px;
}

.cardGhiChu {
    width: 100%;
    height: 250px;
    background: rgba(244, 247, 251, 1);
}

.btnGhiChu {
    flex: 1 1 auto;
    padding: 10px 24px;
    text-align: center;
    text-transform: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #27CBC9 0%, #2436A0 51%, #27CBC9 100%);
    display: flex;
    border: none;
    margin: auto;
    margin-top: 10px;
}

.btnGhiChu:hover {
    background-position: right center;
}