@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color: rgba(244, 247, 251, 1);
}

section
{
    margin-top: 20px;
}


h2 {
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

form
{
    width: 50%;
    margin: auto;
}
.input-form {
    margin-bottom: 20px;
}

.email {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgba(204, 204, 204, 1);
    letter-spacing: 1px;
    background-color: white;
    border-radius: 10px;
}

.btnGuiMailXacNhan {
    flex: 1 1 auto;
    padding: 8px 24px;
    text-align: center;
    text-transform: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #27CBC9 0%, #2436A0 51%, #27CBC9 100%);
    display: flex;
    border: none;
    margin: auto;
}

    .btnGuiMailXacNhan:hover {
        background-position: right center;
    }
